<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456234011497-pbd86scrfh5qad9tbboh8qkpf62gapo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456234011497-pbd86scrfh5qad9tbboh8qkpf62gapo3</string>
	<key>API_KEY</key>
	<string>AIzaSyCutN9m3T3R_vF3v7KjWqgCFwHG9HrX7iM</string>
	<key>GCM_SENDER_ID</key>
	<string>456234011497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.fcm</string>
	<key>PROJECT_ID</key>
	<string>xamarinfcmdemo-adfce</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarinfcmdemo-adfce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456234011497:ios:b07962659ccc55e7cd8bf8</string>
	<key>DATABASE_URL</key>
	<string>https://xamarinfcmdemo-adfce.firebaseio.com</string>
</dict>
</plist>